button{
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: black;
  color: yellow;
  font-size: 15pt;
  text-transform: case;
  font-family: impact;
}
button:hover{
  background:pink;
  transition: .5s;
}
p{
  font-family: impact;
  font-size: 20pt;
  color: gray;
}